/*=========== Common styles ===========*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* =========== /Common styles =========== */

/* =========== Page Header styles =========== */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}
.accent-color {
  color: #2e2f42;
}
.menu {
  display: none;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
 background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }
  .open-menu-btn {
    display: none;
  }
  .logo-header {
    margin-right: 120px;
  }
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.active {
    position: relative;
    color: #404bbf;
  }
  .menu-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .address {
    display: block;
  }
  .address-link-list {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .menu-address {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}
/* =========== /Page Header styles =========== */

/* =========== Hero Section styles =========== */
.hero {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mob.jpg);
  background-size: cover;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image:linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
      padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-tab.jpg);
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image:linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-tab@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
.hero {
  max-width: 1440px;
    padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
}
.main-title {
  margin-bottom: 48px;
}
}
@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image:linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image@2x.jpg);
  }
}
/* =========== /Hero Section styles =========== */

/* =========== Benefits Section styles =========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.benefits-item-icon-wrapper {
  display: none;
}
.benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}
.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .benefits-list {
    gap: 24px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  
  .benefits-list-title {
    text-align: left;
  }
  .benefits-list-text {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-item-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-list-text {
    font-weight: 400;
  }
}
/* =========== /Benefits Section styles =========== */

/* =========== Our Team Section styles =========== */
.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.our-team-item {
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;

  background-color: #ffffff;
}
.name-job {
  padding: 32px 0;
}
.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
 
}
@media screen and (min-width: 1158px) {
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* =========== /Our Team Section styles =========== */

/* =========== Our Portfolio Section styles =========== */
.our-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio-overlay {
  max-width: 288px;
  position: relative;
  overflow: hidden;
}

.our-portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-list-item {
  width: calc((100% - 48) / 3);
  width: 360px;
  height: 420px;
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list-item:hover .our-portfolio-overlay-text {
  transform: translateY(0%);
}
.app-cat {
  width: 288px;
height: 120px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

/* =========== /Our Portfolio Section styles =========== */

/* =========== Footer Section styles =========== */
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-page {
  display: flex;
  align-items: baseline;
}
.container-footer-logo {
  margin-right: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.accent-color-footer {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-list-footer-item {
  width: 40px;
  height: 40px;
}
.social-list-link-foter {
  width: 100%;
  display: flex;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-foter:hover,
.social-list-link-foter:focus {
  background-color: #31d0aa;
}
.footer-social-link {
  max-width: 208px;
  height: 80px;
}
.footer-subscription-wrap {
  margin-left: 80px;
}
.subscription-form {
  display: flex;
  gap: 24px;
}
.subscription-input {
  border: 1px solid #fff;
  padding-left: 16px;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.subscription-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.subscribe-btn:hover {
  background-color: #404bbf;
}

.subscribe-btn-icon {
  fill: #fff;
  margin-left: 16px;
}
/* =========== /Footer Section styles =========== */

/* =========== /Backdrop styles =========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* =========== /Backdrop styles =========== */

/* =========== /Modal windows styles =========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover > .modal-close-icon-btn,
.modal-close-btn:focus > .modal-close-icon-btn {
  fill: #fff;
}
/* =========== /Modal windows styles =========== */

/* =========== /Contacts form styles =========== */
.contacts-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.contacts-form-field-wrapper {
  margin-bottom: 8px;
}
.contacts-form-field-comment-wrapper {
  margin-bottom: 16px;
}
.contacts-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.contacts-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.contacts-form-input:focus + .contacts-form-field-icon {
  fill: #4d5ae5;
  stroke: #4d5ae5;
}
.contacts-form-input-wrapper {
  position: relative;
}
.contacts-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  stroke: #2e2f42;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.contacts-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.contacts-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.contacts-form-privacy-checbox {
  margin-right: 8px;
}
.contacts-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.contacts-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-privacy-checbox:checked
  + .contacts-form-checkbox-label
  .contacts-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.contacts-form-privacy-checbox:focus
  + .contacts-form-checkbox-label
  .contacts-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.contacts-form-submint-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-submint-btn:hover,
.contacts-form-submint-btn:focus {
  background-color: #404bbf;
}

/* =========== /Contacts form styles =========== */
